
  .search_box__container {
    margin-top: 5%;
    margin-bottom: 2%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    button {
      margin-left: 10px;
    }
  }
  .items {
    margin: 1% 2%;
  }
